.admin-container {
    display: flex;
    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important; // bằng với chiều cao của màn hình
            }
    }
    .admin-content{
        width: 100%;
        .admin-header{
            // border: 1px solid red;
        }
    }
    .admin-main{
        // border: 1px solid rgb(9, 51, 190);
    }
    
}