.admin-container {
    display: flex;
    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important; // bằng với chiều cao của màn hình
            }
    }
    .admin-content{
        width: 100%;
        background-color: rgba(238, 235, 232, 0.534);
        .admin-header{
            height: 60px;
            border: 1px solid rgb(238, 227, 227);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px 0 20px;
            span{
                font-size: 20px;
                color: white;
                cursor: pointer;
            }
            .right-header{
                display: flex;
                gap:10px;
                font-size: 16px;
                padding-right: 20px;
            }
        }
    }
    .admin-main{
        // border: 1px solid rgb(9, 51, 190);
        height: calc(100vh - 40px);
        padding-left: 30px;
    }
    
}