 .managerquiz-container{
   padding: 15px;
  .header-fieldset{
    legend{
      font-size: 14px;
      font-weight: 600;
    }

  .title{
    font-size: 27px;
    padding-top: 30px;
    color: rgb(245, 133, 5);
  }
 }
}
  